*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    width: 25vw;
    height: 50vh;
    background-color: transparent;
    text-align: center;
    outline-style: solid;
    outline-color: black;
    margin-left: 38%;
    margin-top: 15vh;
}

label{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

input{
    font-size: 18px;
    font-family: monospace;
    border-radius: 5px;
    padding: 3px;
}

.submit{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(216, 139, 216);
    border-radius: 10px;
}

@media (max-width: 1000px){
    .form-container{
        width: 35vw;
        height: 48vh;
        margin-left: 33%;
        margin-top: 15vh;
        padding-top: 50px;
    }
}

@media (max-width: 700px){
    .form-container{
        width: 40vw;
        height: 50vh;
        margin-left: 30%;
        margin-top: 45vh;
        margin-bottom: 30px;
        padding-top: 70px;
    }
}

@media (max-width: 384px){
    .form-container{
        width: 60vw;
        height: 50vh;
        margin-left: 30%;
        margin-top: 45vh;
        margin-bottom: 30px;
        padding-top: 70px;
    }
}