*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 250px;
    width: 25vw;
    height: 40vh;
    background-color: transparent;
    text-align: center;
    outline-style: solid;
    outline-color: black;
    margin-left: 38%;
    margin-top: 15vh;
}

label{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

input{
    font-size: 18px;
    font-family: monospace;
    border-radius: 5px;
    padding: 3px;
}

.submit{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(216, 139, 216);
    border-radius: 10px;
}

@media (max-width: 1000px){
    .form-container{
        width: 35vw;
        height: 40vh;
        margin-left: 33%;
        margin-top: 15vh;
        padding-top: 10vh;
    }
}

@media (max-width: 700px){
    .form-container{
        width: 54vw;
        height: 40vh;
        margin-left: 25%;
        margin-top: 45vh;
        padding-bottom: 30px;
        padding-top: 50px;
    }
}

@media (max-width: 390px){
    body{
        overflow-y: hidden;
    }
    .form-container{
        width: 75vw;
        height: 40vh;
        margin-left: 14%;
        margin-top: 45vh;
        padding-bottom: 30px;
        padding-top: 7vh;
    }
    .submit{
        padding-top: -10px;
    }
}